:root {
    --padding: 10px;
    --hundred: 100%;
    --navHeight: 75px;
    --lightgrey: rgb(240, 240, 240);
}

html, body, main, ul {
    height: var(--hundred);
    padding: 0;
    margin: 0;
}

h2 {
    margin-top: 0;
}

main {
    padding-top: var(--navHeight);
    width: var(--hundred);
}

main > section:nth-child(even) {
    height: var(--hundred);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

main > section:nth-child(odd) {
    height: 50%;
    background-color: var(--lightgrey);
}

#peerAdvisor {
    background-image: url(./public/assets/images/peerAdvisor.jpg);
}

#band {
    background-image: url(./public/assets/images/band.jpg);
}

#wedding {
    background-image: url(./public/assets/images/wedding.jpg);
}

blockquote {
    background-color: var(--lightgrey);
}

/*********************************************************************
 ***************** NAVIGATION STYLES *********************************
 *********************************************************************/
header {
    position: fixed;
    z-index:99;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    width: var(--hundred);
}

header, nav > ul > li {
    height: var(--navHeight);
}

nav > ul {
    line-height: var(--navHeight);
    text-align: end;
}

nav > ul > li {
    display: inline-block;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

nav > ul > li:hover {
    background-color: rgb(0, 20, 255);
    cursor: pointer;
}

@media only screen and (min-width: 751px) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    main > section:nth-child(odd) {
        height: 50%;
    }
}

@media only screen and (max-width: 750px) {
    body {
        font-size: 20px;
    }

    li[data-folder='register'] {
        display: none;
    }

    main > section:nth-child(odd) {
        height: 100%;
        padding: 1em;
    }

    h1, h2, h3 {
        text-align: center;
    }

    h1 {
        display:none;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #band, #peerAdvisor, #wedding {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.warning-block {
    position: relative;
    background-color: black;
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
    height: var(--hundred);
}

.warning-block > .warning-block-inner {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.warning {
    color: yellow;
    font-weight: bold;
    font-style: italic;
}