<link rel="stylesheet" type="text/css" href="./pages/home/home.css">
<section id="space"></section>
<section>
    <h2>Who am I</h2>
    <p>My name is Michael Wilson and I'm currently a Web Development Engineer at Microsoft.</p>
</section>
<section id="fractal"></section>
<section>
    <h2>Why do I code</h2>
    <p>It all started with YouTube. I ran across a couple of Pokemon Emerald mods and thought that they were the coolest thing ever.</p>
</section>
<section id="tundra"></section>
<section>
    <h2>What are my next steps</h2>
    <p>I'm continually learning each and everyday.</p>
</section>