<link rel="stylesheet" type="text/css" href="./pages/home/home.css">
<section id="band"></section>
<section>
    <h2>The Husky Band</h2>
    <p>
        I joined the Husky Marching Band back in the fall of 2012. 
        Never in my wildest dreams did I ever think that I would be able to perform for crowds up to 70,000 people! 
        It was definitely nerve-wracking but well worth it.
    </p>
</section>
<section id="peerAdvisor"></section>
<section>
    <h2>Transferring</h2>
    <p>
        In the fall of 2015 I found myself at an impasse. I was expected to graduate the following spring
        with a degree in a subject matter that I wasn't too passionate about. I looked into a variety
        of options and thought deeply about what I really enjoyed doing. Well, I love playing video games 
        and I'd always wanted to create a game of my own. I had taken Computer Science courses in 2014 
        but I never really considered it as a career path. I just wanted to understand what some of my 
        friends were talking about. I decided why not give Computer Science a shot! I was a bit too late 
        to apply for the CSE department at University of Washington, Seattle and didn't want to live too 
        close to home by attending University of Washington, Bothell. So I contacted the advisors over at 
        the University of Washington, Tacoma and set up a meeting to check out the campus and program. A 
        couple months later I began my journey as a Computer Science student.
    </p>
</section>
<section id="wedding"></section>
<section>
    <h2>Same ole' friends</h2>
    <p>
        Never did I imagine that two of my friends, that I knew from the Husky Marching band and physics classes, 
        would get married let alone date. Life is definitely full of suprises, good and bad. In this case it 
        was good and I couldn't think of a better pair of people! I was even invited to be a groomsman!
    </p>
</section>