<div markdown="1">
    # Front End Engineering

    ## Note 
    
    For a reference to see these goals achieved, please refer to my leetcode account or my portfolio repo! Thanks!
    
    The intent of this repository is to showcase subject matters that I will be learning on a daily basis in order to improve my skills as a Front End Engineer. The intent is to dedicate at least 45 minutes a day per topic.
    
    ## Topic Breakdown
    
    <pre>
    Day     Idea
    1       Read material
    2       Read material/implement
    3       Implement
    </pre>
    
    ## HTML
    
    <pre>
    Day     Topic 
    9/11    Semantic Markup
    9/14    Tag attributes - disabled, asnc, defer, data-*
    9/17    Declaring doctypes
    9/20    Accessibility concerns
    </pre>
    
    ## CSS
    
    <pre>
    Day     Topic 
    9/23    Layout - place in two vs three columns
    9/26    Responsive Design
    9/29    Adapative Design 
    10/1    Specificity
    </pre>
    
    ## JavaScript
    
    <pre>
    Day     Topic
    10/4    Execution Context
    10/7    Hoisting - function & block scoping & function expressions/declarations
    10/10   Binding - call, bind, apply, _this_
    10/13   Object prototypes, Constructors, Mixins
    10/16   Composition & higher order functions
    10/19   Event delegation & bubbling
    10/22   Type coercion - instanceof, typeof, & Object.prototype.toString
    10/25   Asynchronous calls - Callbacks, Promises, async/await
    10/28   When to use function declarations vs expressions
    </pre>
    
    ## DOM
    
    <pre>
    Day     Topic 
    10/31   Selecting Nodes
    11/3    Traversal up/down
    11/6    Traversal left/right
    11/9    Manipulation - add, remove, copy, create nodes
    11/12   Performance - Node caching/Document fragments
    </pre>
    
    ## General Web Knowledge
    
    <pre>
    Day     Topic
    11/15   HTTP Requests - Cache-control, Transfer-encoding
    11/18   Rest vs. RPC
    11/21   Security - JSONP, CORs, iFrames
    </pre>
    
    ## Web Performance
    
    <pre>
    Day     Topic 
    11/21   Critical Rendering path
    11/24   Service workers
    11/27   Image optimizations
    11/30   Lazy loading & bundle splitting
    12/3    Implications of HTTP2 and server-push
    12/6    When to prefetch and preload
    12/9    Reduce browser reflows, promoting an element to GPU
    12/12   Browser layout, compositing, & painting
    </pre>
    
    ## System Design
    
    <pre>
    Day     Topic 
    12/15   Rendering - client, server, & universal
    12/18   Layout - building components & consistent markup
    12/21   State management - unidirectional flow, bidirectional flow, passive programming model, reactive programming model
    12/24   Async flow - XHR calls, bidirectional calls, web sockets
    12/27   Separation of concerns (patterns) - Model-view-controller, Model-view-viewmodel, Model-view-presenter 
    12/30   Multi-device support - web, mobile web, hybrid apps
    1/2     Asset delivery - code splitting, testing, and deployment + network latency
    </pre>
    
</div>